In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import os

In [4]:
print(os.listdir("/"))

['sys', 'lost+found', 'bin', 'lib', 'dev', 'cdrom', 'usr', 'tmp', 'proc', 'etc', 'boot', 'root', 'media', 'home', 'lib64', 'opt', 'libx32', 'lib32', 'snap', 'run', 'srv', 'sbin', 'mnt', 'var']

In [14]:
print(os.listdir("/home/eshvar/programming/python_coding/kaggle/dataset/espn_stats_guru/"))

['Men T20I Team Batting Stats.csv', 'cricket.ipynb', 'Men Test Player Innings Stats - 20th Century.csv', 'Women Test Player Innings Stats - 20th Century.csv', 'Men T20I Team Bowling Stats.csv', 'Men Test Team Batting Stats.csv', '3246_1116779_bundle_archive.zip', 'Men Test Team Match Results - 20th Century.csv', 'Women ODI Player Innings Stats - 21st Century.csv', 'Men ODI Team Match Results - 20th Century.csv', 'Men Test Team Match Results - 21st Century.csv', 'Men ODI Team Batting Stats.csv', 'Men ODI Team Match Results - 21st Century.csv', 'Women ODI Player Innings Stats - 20th Century.csv', '.ipynb_checkpoints', 'Men Test Team Bowling Stats.csv', 'Men T20I Team Match Results - 21st Century.csv', 'Men Test Team Match Results - 19th Century.csv', 'Women T20I Player Innings Stats - 21st Century.csv', 'Men ODI Player Innings Stats - 21st Century.csv', 'IPL Player Stats - 2016 till 2019.csv', 'datasets_3246_1116779_IPL Player Stats - 2016 till 2019.csv', 'Women Test Player Innings Stats - 21st Century.csv', 'Men Test Player Innings Stats - 19th Century.csv', 'Men T20I Player Innings Stats - 21st Century.csv', 'Men ODI Team Bowling Stats.csv', 'Men ODI Player Innings Stats - 20th Century.csv', 'Men Test Player Innings Stats - 21st Century.csv']

In [15]:
dataset = pd.read_csv('/home/eshvar/programming/python_coding/kaggle/dataset/espn_stats_guru/Men ODI Player Innings Stats - 21st Century.csv')

In [16]:
dataset.coulumns

AttributeError: 'DataFrame' object has no attribute 'coulumns'

In [17]:
dataset.columns

Index(['Innings Player', 'Innings Runs Scored', 'Innings Runs Scored Num',
       'Innings Minutes Batted', 'Innings Batted Flag', 'Innings Not Out Flag',
       'Innings Balls Faced', 'Innings Boundary Fours',
       'Innings Boundary Sixes', 'Innings Batting Strike Rate',
       'Innings Number', 'Opposition', 'Ground', 'Innings Date', 'Country',
       '50's', '100's', 'Innings Runs Scored Buckets', 'Innings Overs Bowled',
       'Innings Bowled Flag', 'Innings Maidens Bowled',
       'Innings Runs Conceded', 'Innings Wickets Taken', '4 Wickets',
       '5 Wickets', '10 Wickets', 'Innings Wickets Taken Buckets',
       'Innings Economy Rate'],
      dtype='object')

In [18]:
dataset.head()

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Overs Bowled,Innings Bowled Flag,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate
0,JJ Roy,180,180,151,1.0,0.0,151,16,5,119.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD Hales,171,171,166,1.0,0.0,122,22,4,140.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,JJ Roy,162,162,172,1.0,0.0,118,13,3,137.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AJ Strauss,158,158,188,1.0,0.0,145,18,1,108.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AJ Strauss,154,154,201,1.0,0.0,140,16,5,110.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN